@import url(./reset.css);

:root {
  --pink: #dc56c5;
  --black: rgb(14, 14, 14);
  --gray: rgb(147, 147, 147);
  --another-gray: rgb(75, 75, 75);
  --violet: rgba(220, 86, 197, 0.3);
  --another-violet: rgba(32, 13, 29, 0.6);
  --blue: rgb(76, 0, 254);
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250vw;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  aspect-ratio: 1;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) rotate(0deg);
}

.loader.active {
  animation: scaling 3s ease-in;
}

.loader img {
  aspect-ratio: 135 / 65;
  width: 20vw;
}

.header {
  background-image: url('../images/header_bg.png');
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 180px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__title {
  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat';
  color: var(--pink);
  max-width: 588px;
  margin: auto;
  font-weight: 900;
  line-height: 60px;
}

.header__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__input {
  display: block;
  width: 270px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  color: var(--gray);
  font-family: Montserrat;
  font-weight: 400;
  padding: 10px 30px;
  border: none;
}

.header__input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  color: var(--gray);
}

.header__input:focus {
  border: none;
  outline: none;
}

span.header__input {
  position: relative;
  cursor: default;
}

span.header__input::after {
  content: url(../images/arrow.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  transition: 0.5s ease;
}

span.header__input.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.header__input-wrapper {
  display: none;
  margin-top: 5px;
  width: 270px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  color: var(--gray);
  font-family: Montserrat;
  font-weight: 400;
  padding: 0;
  text-align: center;
  height: 90px;
  overflow-y: scroll;
  animation: open 0.5s ease;
  position: absolute;
  z-index: 2;
}

.header__input-wrapper::-webkit-scrollbar {
  display: none;
}

.header__input-item {
  padding: 10px 5px;
  cursor: pointer;
  transition: 0.3s;
}

.header__input-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.header__input-wrapper.active {
  display: block;
}

.main {
  background-color: var(--black);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px 65px;
  max-width: 930px;
  margin: auto;
}

.main__card {
  width: 180px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
  position: relative;
  animation: move1 var(--time) ease;
}

.main__card-preview {
  width: 100%;
  aspect-ratio: 9 / 16;
  border-radius: 50px 0px 50px 0px;
  object-fit: cover;
}

.main__card::after {
  display: block;
  content: '';
  width: 150px;
  height: 150px;
  border: 1px solid var(--violet);
  border-radius: 50px 0px 50px 0px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.main__card-title {
  color: var(--pink);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.main__card-data {
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

.main__card-place {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.wrapper__modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: self-start;
  justify-content: center;
  backdrop-filter: blur(3px);
  background: var(--another-violet);
  height: 100vh;
  overflow-y: scroll;
  padding: 200px 0;
  animation: appearance 0.4s linear;
}

.wrapper__modal::-webkit-scrollbar {
  display: none;
}

.modal {
  display: none;
  padding: 60px 30px;
  width: clamp(942px, 600px, 272px);
  margin: 0 25px;
  border-radius: 300px 0px 300px 0px;
  background: white;
  animation: popping 0.5s ease-in;
  position: relative;
}

.modal__icon {
  margin: auto;
  width: 132px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal__author {
  display: block;
  cursor: pointer;
  width: max-content;
  color: rgb(76, 0, 254);
  font-family: Montserrat;
  box-sizing: border-box;
  border: 1px solid rgb(76, 0, 254);
  border-radius: 5px;
  padding: 10px 16px;
  margin: 40px auto 0px auto;
}

.modal__content {
  margin-top: 40px;
  display: flex;
  gap: 60px;
}

.modal__preview {
  width: 360px;
  aspect-ratio: 9 / 16;
  object-fit: cover;
}

.modal__title {
  color: var(--pink);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.modal__text {
  color: var(--black);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 20px;
}

.modal__btn {
  border-radius: 5px;
  background: var(--blue);
  padding: 10px 20px;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
}

.footer {
  background-color: var(--black);
  padding-top: 65px;
  padding-bottom: 20px;
}

.footer__numbers {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.footer__numbers-number {
  color: white;
  font-family: Montserrat;
  padding: 5px 10px;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 10px 0px;
  cursor: pointer;
}

.footer__numbers-number:hover,
.footer__numbers-number.active {
  color: var(--pink);
  border: 1px solid var(--pink);
}

.footer__text {
  color: var(--gray);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

@keyframes scaling {
  0% {
    width: 250vw;
  }

  50% {
    width: 40vw;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    width: 40vw;
    transform: translate(-300%, -50%) rotate(-360deg);
  }
}

@keyframes open {
  0% {
    height: 0;
  }

  100% {
    height: 90px;
  }
}

@keyframes popping {
  0% {
    scale: 1;
  }

  80% {
    scale: 1.3;
  }

  100% {
    scale: 1;
  }
}

@keyframes move1 {
  0% {
    opacity: 0;
    left: var(--from);
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes move2 {
}

@media (max-width: 800px) {
  .header {
    background-image: url('../images/image.png');
  }

  .header__title {
    font-size: 30px;
    max-width: 353px;
    line-height: 37px;
  }

  .header__logo {
    width: 151px;
    height: 140px;
  }

  .container {
    gap: 60px 30px;
  }

  .modal__preview {
    width: 230px;
  }

  .modal__text {
    font-size: 16px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__icon {
    width: 80px;
  }
}

@media (max-width: 584px) {
  .header {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .header__title {
    font-size: 18px;
    max-width: 212px;
  }

  .header__logo {
    width: 110px;
    height: 90px;
  }

  .header__wrapper {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .main__card {
    width: 128px;
  }

  .main__card-title,
  .main__card-data {
    font-size: 14px;
  }

  .main__card-place {
    font-size: 12px;
  }

  .footer__text {
    padding: 0 34px;
  }

  .modal__preview {
    display: none;
  }

  .modal__content {
    text-align: center;
    justify-content: center;
  }

  .modal {
    border-radius: 150px 0;
    padding: 60px 12px;
  }

  .modal__author {
    margin: 40px auto 70px auto;
  }

  .main__card::after {
    width: 105px;
    height: 105px;
  }
}
